{% extends 'base.html' %}

{% block pagina %}
Iniciar sesion
{% endblock %}

{% block titulo %}
Iniciar sesion
{% endblock %}

{% block menu %}
<div class="container my-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card shadow-lg rounded-4 border-0" style="background-color:#f8bbd0;">
            <div class="card-body p-4 p-md-5">
                <div class="text-center mb-3 ">
                    <h1 class="text-danger fw-bold">Iniciar sesion</h1>
                    <p class="text-white">Bienvenido denuevo</p>


                    <div class="mb-4">
                        <label for="email" class="form-label"></label>
                        <input type="email" class="form-control" id="email" name="email"
                                placeholder="Correo electronico" 
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                value="{{ request.form.get('Email', '')}}">
                    </div>

                    <div class="mb-4">
                        <label for="password" class="form-label"></label>
                        <input type="password" class="form-control" id="contra" name="contra"
                                placeholder="Contraseña" 
                                aria-describedby="passwordHelp"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                title="Debe contener al menos un numero, una mayuscula y una minuscula y al menos un digito">
                            <div id="passwordHelp" class="form-text">
                                Minimo 8 caracteres, incluye mayusculas, minusculas y un digito
                            </div>
                    </div>

                    <button type="submit" class="btn bg-danger text-white">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock menu %}